@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
*{
    margin: auto;
}
body{
    background: #DFD3D5;
}
h1{
    font-family: "Bitcount Prop Double Ink", system-ui;
}
p{
    font-family: "Bitcount Prop Double Ink", system-ui;
}
header{
    text-align: center;
    border-bottom: solid 6px #9F769D;
    margin-bottom: 50px;
    padding: 50px; 
}
mark{
    /*background-color: #D0D9D9;*/
    background-color: #6D8280;
}
#menu-principal{
    background-color: bisque;
    padding: 10px 20px;
    text-align: center;
}
#menu-principal ul{
    list-style-type: none;
    display: flex;
    gap: 20px
}
#menu-principal a{
    text-decoration: none;
    color:aquamarine;
    font-weight: bolder;
    font-family: "Lato","sans-serif";
    font-size: 20px;
    padding: 10px;
}
#menu-principal a:hover{
    background-color: #6D8280;
    color: #fff;
    border-radius: 10px;
}
#bienvenida{
    background-color: rgb(58, 66, 41);
    padding: 30px 0;
}
#foto-perfil{
    border: solid 2px #6D8280 ;
    border-radius: 20px;
}
#experiencia{
    background-color: aqua;
    padding:30px;
    border-top: solid 5px #DFD3D5;
}
#lista-proyectos{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    border:solid 2px #9F769D;
    width: 30%;
    float: left;
}
nav a{
    color: #6D8280;
    text-decoration: none;
}

.proyecto{
    border:solid #6D8280 2px;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    float: none;
}
#habilidades{
    padding: 20px 30px;
    background-color: blueviolet;
}
.lista-tecnologias{
    list-style: none;
    display: flex;
    margin-left: 0;
    gap: 20px;
}
.lista-tecnologias li{
    background-color: cornflowerblue;
    color: #fff;
    padding: 12px 20px;
    border-radius: 25px;
    text-align: center;
}
progress{
    width: 100%;
    height: 25px;
    margin: 10px 0;
    background: rgb(131, 82, 47);
}
#contacto{
    padding: 30px;
    background-color: #fff;
    border-top: solid 5px #DFD3D5;
}
#contacto label{
    font-size: 20px;
}
#contacto input,
textarea{
    font-size: 30px;
    border: solid 1px #7f769f;
    padding: 10px;
    width: 30%;
}
#contacto button{
    background-color: #7f769f;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    width: 200px;
    font-size: 20px;
}
.campos{
    clear: both;
}